.container1 {
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 50px;
}

.container-fluid
{
  background-color: powderblue;
  color: blue;
}

.navbar-header
{
  color: white;
}

.jumbotron
{
  background-color: powderblue;
}

header
{
  color: black;
}
